datashader==0.12.1
dowhy==0.6
holoviews==1.14.2
interpret==0.2.4
jupyterlab_execute_time==2.0.5
jupyterlab-git==0.34.2
lux-api==0.5.1
lux-widget==0.1.11
matrixprofile==1.1.10
pandas-profiling==2.11.0
pm4py==2.2.19.1
pycaret==2.3.0
pyfpgrowth==1.0
pyviz_comms==2.0.1
requests==2.32.0
seaborn==0.11.1
sweetviz==2.1.0
xgboost==1.3.3